{% extends 'navbar.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% block body %}

    <div class="container-md mt-md-5 mt-4">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-10 pt-5 pt-md-1 col-12">
                <div class="container-md pt-2">
                    <div class=" row">
                        <div class="col-4 col-sm-3  col-md-4 text-center">
                            <img src="/media/{{other_user.profile.profile_pic}}" width="200" height="200" alt="" srcset="" class="d-md-block d-none rounded-circle">
                            <img src="/media/{{other_user.profile.profile_pic}}" width="100" height="100" alt="" srcset="" class="d-md-none rounded-circle">
                        </div>
                        <div class="col-8 col-sm-9 col-md-8  ">
                            <div class="">
                                <span class="" style="font-size: 20px; font-weight: 600;">{{other_user.username}}</span>
                                {% if followed %}
                                <a href="{% url 'account:unfollow_user' username=other_user.username %}" class="text-dark d-md-inline d-none bg-light p-2 ml-5 rounded text-bold text-decoration-none">Unfollow</a>
                                {% else %}
                                <a href="{% url 'account:follow_user' username=other_user.username %}" class="text-dark d-md-inline d-none bg-light p-2 ml-5 rounded text-bold text-decoration-none">Follow</a>
                                {% endif %}
                            </div>
                            <div class="d-md-none mt-4">
                                {% if followed %}
                                <a href="{% url 'account:unfollow_user' username=other_user.username %}" class="text-dark bg-light p-2  rounded text-bold text-decoration-none">Unfollow</a>
                                {% else %}
                                <a href="{% url 'account:follow_user' username=other_user.username %}" class="text-dark bg-light p-2  rounded text-bold text-decoration-none">Follow</a>
                                {% endif %}
                            </div>
                            <div class="d-none d-md-block  flex mt-4 ">
                                <span class=" mr-md-4">{{other_user.post.count}} posts</span>
                                <span class="mr-md-4">{{other_user.following.count}} followers</span>
                                <span >{{other_user.follower.count}} following</span>
        
                            </div>
                            <div class= "d-md-block d-none mt-4">
                                <h5>{{other_user.profile.full_name}}</h5>
                                <p>{{ other_user.profile.bio}}</p>
                            </div>
                        </div>
                       
                    </div>
                    <div class=" d-md-none flex">
                        <span class="mr-1 ">{{other_user.post.count}} posts</span>
                        <span class="mr-1 ">{{other_user.following.count}} followers</span>
                        <span >{{other_user.follower.count}} following</span>

                    </div>
                    <div class="d-md-none">
                        <h5>{{other_user.profile.full_name}}</h5>
                        <p>{{ other_user.profile.bio}}</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-lg-1">

            </div>

        </div>
        
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for post in user_posts %}
                    <div class="bg-image d-inline-block hover-overlay"  style="width: 32%; height: 260px;" >
                        {% if post.media_type_html == "video" %}
                            <video style="width: 32%; height: 260px;" class="w-100 h-100" alt="This is video" > <source src="/media/{{ post.content }}" > </video>
                        {% elif post.media_type_html == "image" %}
                            <img src="/media/{{post.content}}" class="w-100" style="width: 32%; height: 260px;" alt="">
                        {% endif %}
                        <div
                            class="mask"
                            style="
                            background: linear-gradient(
                                45deg,
                                hsla(168, 85%, 52%, 0.5),
                                hsla(263, 88%, 45%, 0.5) 100%
                            );
                            "
                        ></div>
                    </div>

                {% endfor %}
            </div>
            
            <div class="col-md-2"></div>
        </div>
        
    </div>


{% endblock %}