{% extends 'navbar.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% block body %}
<div class="container-md mt-5">
    <div class="row">
        <div class="col-sm-2 col-md-3 col-xl-2">

        </div>
        <div class="col-12 col-sm-8 col-md-6 col-xl-4 mt-5">
            
            
                <div class="">

                    <div class="d-flex justify-content-between my-2">
                        <div>
                            <a href="{% url 'account:other_profile' username=post.user.username %}" class="text-decoration-none text-dark ">
                                <img src="/media/{{post.user.profile.profile_pic}}" alt="" height="40px" width="40px" class="rounded-circle" style="border: 2px solid rgb(243, 72, 72); padding: 2px;"> 
                                <span class=" mx-2 font-weight-bold"> {{post.user.username}} </span> 
                                <span> {{ post.post_created|timesince}} ago </span> 
                            </a>
                        </div>
                        <div>
                            {% if canDelete %}
                                <a href="{% url 'post:delete_post' pk=post.pk %}">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            {% endif %}
                        </div>
                    
                    </div>
                     
                    
                    {% if post.media_type_html == "video" %}
                        <video style="height: 450px;" class="w-100" alt="This is video" controls> <source src="/media/{{ post.content }}" > </video>
                    {% elif post.media_type_html == "image" %}
                    <img src="/media/{{ post.content }}" alt="" class="w-100 " height="450px">
                    {% endif %}
                    <div class="p-2">
                        <span>{{  post.liked_post.count}} likes</span> <br>
                        {% if post.caption %}
                            <span class=" font-weight-bold" >{{ post.user.username }}</span>
                            <span>{{ post.caption }}</span>
                        {% endif %}


                    </div>
                </div>
                <br>
        </div>
        <div class="col-sm-2 col-md-3 col-xl-6">
            
        </div>
    </div>

</div>




{% endblock %}